*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 50px;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 50px;
    align-items: center;
    flex-wrap: wrap;

}
header .logo{
    max-width: 60px;
    position: relative;
}

header ul{
    display: flex;
    position: relative;
}
header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: crimson;
    font-family: sans-serif;
    font-size: 22;
    font-weight: bold;
    margin-left: 10px;
}
.content-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.content-box .text-box{
    max-width: 600px;
    position: relative;
    font-family: sans-serif;
}
.content-box .text-box h2{
    color: #333;
    font-size: 4rem;
    line-height: 1.2;
}
.content-box .text-box span{
    color: #017143;
    font-size: 5rem;
}
.img-box{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 30px;
     transition: all .4s ease;
}
.img-box img{
    max-width: 350px;
    transition: all .4s ease;
}
.content-box .text-box p{
    color: #333;
}

.content-box .text-box a{
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    background:#017143;
    color: #fff;
    border-radius: 40px;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
     transition: all .4s ease;
}
.thumb li{
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
    transition: all .3s ease;
}
.thumb li:hover{
    transform: translateY(-20px);
}
.sci{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li img{
    margin: 8px 0px;
    cursor: pointer;
    filter: invert();
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(550px at right 800px);
}